<h2><%= @event.name %> の出欠確認 </h2>

<h4>詳細</h4>
<blockquote>
<p><%= simple_format( h @event.description ) %></p>
</blockquote>

<h4>候補日</h4>
<table class="table">
  <tr>
    <th>名前</th>
    <% @plans.each do |p| %>
      <th><%= p.datetime %></th>
    <% end %>
    <th>コメント</th>
  </tr>
  <% @users.each do |u| %>
    <tr>
      <td><%= u.name %></td>
      <% u.attendances.each do |a| %>
        <td><%= display_status a.status %></td>
      <% end %>
      <td><%= u.comment %></td>
    </tr>
    <% end %>
  <table>
    <p>
      <%= link_to "あなたの予定を登録する", { :controller => "users", :action => "new", :url_param => @event.url_param}, {:class => "btn  btn-primary"} %>
    </p>
