<div class="row">
  <div class="span6 offset3">
    <%= form_for(@attendance) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
        <%= f.label :user_name, "お名前" %>
        <%= f.text_field :user_name, class: "form-control", placeholder: "お名前" %>
      </div>

      <%= f.label :mytime, "ご都合" %>
      <table class="table">
        <% mytime_str_to_arr(@event.plan).each_with_index do |p, i| %>
        <tr>
          <td><%= p %></td>
            <td>
              <%= select_tag('attendance[mytime_arr][]',
                    options_for_select( [[display_status(0), 0], [display_status(1), 1], [display_status(2), 2]], :selected => mytime_str_to_arr(@attendance.mytime)[i] ),
                    :id => "mytime_select_#{i}", :class => "form-control") %>
            </td>
        </tr>
        <% end %>
      </table>
      <div class="form-group">
        <%= f.label :comment, "コメント" %>
        <%= f.text_field :comment, class: "form-control", placeholder: "コメント" %>
      </div>
      <div class="text-center"> 
      <%= hidden_field_tag 'url_param', "#{@url_param}" %>
      <%= link_to "Back", event_path(@url_param), class: "btn btn-large btn-default" %>
      <%= f.submit "Update", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
